
.about {
    padding: 50px 20px;
    background-color: #f8f8f8;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.about p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-left: 0;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #444;
        padding: 1rem;
        display: none; 
    }

    nav ul.active {
        display: flex; 
    }

    nav ul li {
        margin: 10px 0; 
    }
}


.menu-bar button {
    display: none;
}

@media (max-width: 768px) {
    .menu-bar button {
        display: inline-block;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}