
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.about {
    padding: 50px 20px;
    background-color: #f8f8f8;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.about p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}


footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .footer-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

footer .footer-links ul li {
    margin: 0 15px;
}

footer .footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

footer .newsletter {
    margin-top: 20px;
}

footer .newsletter input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

footer .newsletter button {
    padding: 10px 20px;
    background-color: #9d0620;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-left: 0;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #444;
        padding: 1rem;
        display: none; 
    }

    nav ul.active {
        display: flex; 
    }

    nav ul li {
        margin: 10px 0; 
    }
}


.menu-bar button {
    display: none;
}

@media (max-width: 768px) {
    .menu-bar button {
        display: inline-block;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}