.contact {
    background-color: #fff;
    padding: 50px;
    text-align: center;
    margin-top: 30px;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px  ;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.contact-form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
    
}

.submit-btn {
    background-color:#9d0620;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:#0000ff;
}
    
.menu-bar button {
    display: none;
}
span {
    display: none;
}

@media (max-width: 768px) {
    .menu-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .menu-bar button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    .menu-bar.active + nav ul,
    nav ul.active {
        display: flex;
    }
    .menu-bar button{
        display:contents;
        margin-left: auto;
    }
    span{
        display:contents 
          
    }
    
}


