body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color:#0000ff;
    padding: 20px;
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Artist Profile Section */
.artist-profile {
    padding: 50px 20px;
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.profile-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    

}

.profile-details {
    max-width: 600px;
    text-align: left;
}

.profile-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.profile-details p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.profile-details strong {
    font-weight: bold;
}

.back-to-artists-btn {
    display: inline-block;
    background-color:#9d0620;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 30px;
}

.back-to-artists-btn:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .footer-links ul {
    list-style-type: none;
    padding: 0;
}

footer .footer-links ul li {
    display: inline;
    margin-right: 20px;
}

footer .footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

footer .footer-links ul li a:hover {
    text-decoration: underline;
}

footer .newsletter input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 10px;
}

footer .newsletter button {
    padding: 10px 20px;
    background-color: #9d0620;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

footer .newsletter button:hover {
    background-color: #9d0620;
}
.instagram-link {
    color: #C13584; 
    text-decoration: none;
    font-weight: bold;
}

.instagram-link:hover {
    text-decoration: underline;
}