.flex {
    display:grid;
    gap:10px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  border-color: #0c0c0c;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}

.card-header{
    background-color: #9d0620;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
}

h1 , h2{
    text-align: center;
    margin: 20px;
}

img{
    width: 100px;
    display: block;
    margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Lato', sans-serif;
}

header, footer{
    color : #fff;
    background-color: #222;
    height: 50px;
    margin: 0 auto;
}

.big{
    width: 200px;
}

