footer {

margin: 1rem auto;
padding: 0 1rem 2rem;
font-family: "Roboto", sans-serif;
font-weight: 400;
background-color:  #edb610;
text-align: center;
color: white;
}

#lastModified{
    color: #0A2E6F;
}