footer {

margin: 1rem auto;
padding: 0 1rem 2rem;
font-family: "Roboto", sans-serif;
font-weight: 400;
background-color:  rgb(0 110 182 / 1);
text-align: center;
color: white;
}

#lastModified{
    color: yellow;
}