* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
background: #edb610;
border-bottom: 1rem solid #0A2E6F;
padding: 2rem 2rem;
}

h1{
    color: white;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {

    margin: 1rem auto;
    padding:  2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color:  #edb610;
    text-align: center;
    color: white;
}

#lastModified{
    color: #0A2E6F;
}

