* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #0A2E6F;
  --accent: rgb(225, 211, 211);
  --text: #222;
  --white: #fff;
  --max-width: 900px;
  --padding: 1rem;
  --heading-font: Arial, sans-serif;
}

header {
background: #edb610;
border-bottom: 1rem solid #0A2E6F;
padding: 2rem 2rem;
}

h1{
    color: white;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.hero img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.weather {
  background: var(--accent);
  padding: var(--padding);
  border-radius: 10px;
  margin-top: 1rem;
  background:  rgb(210, 206, 206);
}

.weather-icon-mobile {
  width: 60px;
  display: block;
  margin-bottom: 0.5rem;
}

.weather-heading::after {
  content: "";
}

.data {
  margin-top: 1rem;
  padding: var(--padding);
  background: #f5f7fa;
}


footer {

    margin: 1rem auto;
    padding:  2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color:  #edb610;
    text-align: center;
    color: white;
}

#lastModified{
    color: #0A2E6F;
}

@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .hero {
    grid-column: 1 / -1;
  }

  /* Hide mobile SVG */
  .weather-icon-mobile {
    display: none;
  }

  /* PSEUDO-ELEMENT EMOTICON FOR LARGE VIEW */
  .weather-heading::after {
    content: " ⛅";
    font-size: 1.5rem;
    margin-left: 8px;
  }
}

