
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0A2E6F;
  --accent: #e1d3d3;
  --text: #222;
  --white: #fff;
  --max-width: 900px;
  --padding: 1rem;
  --heading-font: Arial, sans-serif;
}


body {
  font-family: var(--heading-font);
  color: var(--text);
  line-height: 1.6;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding);
}


header {
  background: #edb610;
  border-bottom: 1rem solid var(--primary);
  padding: 2rem;
  text-align: center;
}

h1 {
  color: var(--white);
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.hero img {
  width: 100%;
  display: block;
  border-radius: 10px;
}


.data {
  margin-top: 1rem;
  padding: var(--padding);
  background: #f5f7fa;
  border-radius: 10px;
}


.weather {
  background: rgb(210, 206, 206);
  padding: var(--padding);
  border-radius: 10px;
  margin-top: 1rem;
}

.weather-icon-mobile {
  width: 60px;
  display: block;
  margin-bottom: 0.5rem;
}

.weather-heading::after {
  content: "";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


footer {
  margin: 1.5rem auto 0;
  padding: 2rem;
  background-color: #edb610;
  text-align: center;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

#lastModified {
  color: var(--primary);
}


@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .hero {
    grid-column: 1 / -1;
  }

  .weather-icon-mobile {
    display: none;
  }

  .weather-heading::after {
    content: " ⛅";
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}
